.container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.form-section {
    flex: 2;
    width: 100%;
    padding: 50px;
    border-right: 1px solid #ccc;
}
.table-section {
    flex: 2;
}
.full-width {
    width: 100%;
    margin-right: 5px;
}
.form-button {
    margin-right: 20px;
}
.recommendation-label{
    margin-left: 10px;
    margin-right: 10px;
}
.rating-label{
    margin-top: 10px;
    font-weight: bold;
}
