<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->

<div
  class="user-profile"
  style="background: url(assets/images/background/car_wash1.webp) no-repeat center center;
  background-size: cover;  
  height: 150px; width: 220px;"
>

<!-- profile slider -->
<!-- <div id="carouselExampleIndicators" class="carousel slide" style="height: 150px; width: 300px; background-size: cover; background: no-repeat center center;" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/background/car_wash1.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/background/car_wash2.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/background/car_wash1.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->



  <!-- User profile image -->
  <!-- <div class="profile-img">
    <img src="assets/images/users/profile.png" alt="user" />
  </div> -->
  <!-- User profile text-->
  <!-- ============================================================== -->
  <!-- Profile - style you can find in header.scss -->
  <!-- ============================================================== -->


  <div class="profile-text">
    <a  class="" class="loggedUserName">
      {{loggedUserName}} <i class="ti-angle-down font-12 m-l-5"></i
    ></a>
  </div>
</div>
<!-- <mat-nav-list appAccordion>
  <div *ngFor="let menuitem of navItems">
    <mat-list-item
      *ngIf="menuitem.isVisible"
      appAccordionLink
      routerLinkActive="selected"
    >
      <div>
      
      </div>
      <div *ngIf="!menuitem.childState">
        <a
          class=""
          appAccordionToggle
          [routerLink]="['/', menuitem.state]"
          *ngIf="menuitem.type === 'link'"
        >
          <mat-icon>{{ menuitem.icon }}</mat-icon>
          <span>{{ menuitem.name }}</span>
          <span fxFlex></span>
        </a>
      </div>
      <div *ngIf="menuitem.childState">
        <a
          class=""
          appAccordionToggle
          [routerLink]="[menuitem.state, menuitem.childState]"
          *ngIf="menuitem.type === 'link'"
        >
          <mat-icon>{{ menuitem.icon }}</mat-icon>
          <span>{{ menuitem.name }}</span>
          <span fxFlex></span>
        </a>
      </div>
      <div></div>
    </mat-list-item>
  </div>
</mat-nav-list> -->



<mat-nav-list appAccordion>
  <ng-container *ngFor="let menu of navItems">
    <!-- GROUP -->
    <ng-container *ngIf="menu.type === 'group'">
      <!-- menu items -->
      <mat-list-item *ngIf="menu.isVisible" class="group-header" (click)="toggleGroup(menu.name)">
        <mat-icon>{{ menu.icon }}</mat-icon>
        <span class="group-title">{{ menu.name }}</span>
        <mat-icon class="expand-icon">
          {{ collapsedGroups[menu.name] ? 'expand_less' : 'expand_more' }}
        </mat-icon>
      </mat-list-item>

      <!--menu child items-->
      <ng-container *ngIf="collapsedGroups[menu.name]">
        <ng-container *ngFor="let item of menu.children">
          <mat-list-item *ngIf="item.isVisible" routerLinkActive="selected">
            <a
              [routerLink]="item.childState ? [item.state, item.childState] : [item.state]"
              appAccordionToggle [target]="item.childState == 'task-tracker' ? '_blank': '_self'"
            >
              <mat-icon>{{ item.icon }}</mat-icon>
              <span>{{ item.name }}</span>
            </a>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- SINGLE LINK -->
    <ng-container *ngIf="menu.type === 'link' && menu.isVisible">
      <mat-list-item routerLinkActive="selected">
        <a
          [routerLink]="menu.childState ? [menu.state, menu.childState] : [menu.state]"
          appAccordionToggle [target]="menu.childState == 'task-tracker' ? '_blank': '_self'"
        >
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span>{{ menu.name }}</span>
        </a>
      </mat-list-item>
    </ng-container>
  </ng-container>
</mat-nav-list>



