<div class="container">
    <div class="form-section">
      <form [formGroup]="allTaskForm" class="example-form" (ngSubmit)="onSubmit()">
  
        <mat-form-field class="full-width">
          <mat-label>In Progress Tasks</mat-label>
          <input matInput placeholder="In Progress Tasks" formControlName="inProgressTasks">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Task Name</mat-label>
          <input matInput placeholder="Task Name" formControlName="taskName">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Task Created By</mat-label>
          <input matInput placeholder="Task Created By" formControlName="taskCreatedBy">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Assigned Customer</mat-label>
          <input matInput placeholder="Assigned Customer" formControlName="assignedCustomer">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Progress</mat-label>
          <input matInput placeholder="Progress" formControlName="progress">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Priority</mat-label>
          <input matInput placeholder="Priority" formControlName="priority">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>View Task Status</mat-label>
          <input matInput placeholder="View Task Status" formControlName="viewTaskStatus">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Sub Tasks</mat-label>
          <input matInput placeholder="Sub Tasks" formControlName="subTasks">
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" class="form-button">{{saveButtonLabel}}</button>
        <button type="reset" mat-raised-button color="secondary" (click)="resetData()">Reset</button>
      </form>
    </div>

    <div class="table-section">

      <div class="refresh-button-filter-section">
        <div class="refresh-button">
          <button mat-icon-button color="primary" (click)="refreshData()">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
      </div>

       <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> <!-- -->

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="inProgressTasks">
          <th mat-header-cell *matHeaderCellDef>In Progress Tasks</th>
          <td mat-cell *matCellDef="let element"> {{element.inProgressTasks}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="taskName">
          <th mat-header-cell *matHeaderCellDef>Task Name </th>
          <td mat-cell *matCellDef="let element"> {{element.taskName}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="taskCreatedBy">
          <th mat-header-cell *matHeaderCellDef> Task Created By </th>
          <td mat-cell *matCellDef="let element"> {{element.taskCreatedBy}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="assignedCustomer">
          <th mat-header-cell *matHeaderCellDef> Assigned Customer </th>
          <td mat-cell *matCellDef="let element"> {{element.assignedCustomer}} </td>
        </ng-container>

        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef> Progress </th>
          <td mat-cell *matCellDef="let element"> {{element.progress}} </td>
        </ng-container>

        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef> Priority </th>
          <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
        </ng-container>

        <ng-container matColumnDef="viewTaskStatus">
          <th mat-header-cell *matHeaderCellDef> View Task Status </th>
          <td mat-cell *matCellDef="let element"> {{element.viewTaskStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="subTasks">
          <th mat-header-cell *matHeaderCellDef> Sub Tasks </th>
          <td mat-cell *matCellDef="let element"> {{element.subTasks}} </td>
        </ng-container>

        <ng-container matColumnDef="vehicleType">
          <th mat-header-cell *matHeaderCellDef> Vehicle Type </th>
          <td mat-cell *matCellDef="let element"> {{element.vehicleType}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="warn" (click)="editData(element)" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteData(element)" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> 
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

    </div>
</div>
