<div class="container">
    <div class="form-section">
      <form [formGroup]="allTaskForm" class="example-form" (ngSubmit)="onSubmit()">
  
        <mat-form-field class="full-width">
          <mat-label>In Progress Tasks</mat-label>
          <input matInput placeholder="In Progress Tasks" formControlName="inProgressTasks">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Task Name</mat-label>
          <input matInput placeholder="Task Name" formControlName="taskName">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Task Created By</mat-label>
          <input matInput placeholder="Task Created By" formControlName="taskCreatedBy">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Assigned Customer</mat-label>
          <input matInput placeholder="Assigned Customer" formControlName="assignedCustomer">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Progress</mat-label>
          <input matInput placeholder="Progress" formControlName="progress">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Priority</mat-label>
          <input matInput placeholder="Priority" formControlName="priority">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>View Task Status</mat-label>
          <input matInput placeholder="View Task Status" formControlName="viewTaskStatus">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Sub Tasks</mat-label>
          <input matInput placeholder="Sub Tasks" formControlName="subTasks">
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" class="form-button">{{saveButtonLabel}}</button>
        <button type="reset" mat-raised-button color="secondary" (click)="resetData()">Reset</button>
      </form>
    </div>
</div>
