.quantity-selector {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px;
}

.quantity-selector h5 {
  padding-top: 8px;
  padding-right: 8px;
}

.quantity-selector input {
  width: 40px;
  text-align: center !important;
  font-size: 20px;
  border: none;
  padding-right: 1px;
}

.quantity-selector button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin: 6px;
}

.product-detail {
  display: flex;
  gap: 30px;
  padding: 30px;
  font-family: sans-serif;
}

.image-section img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

.details-section {
  max-width: 600px;
}
.actions button {
  margin-right: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.button-row{
  display: flex;
  gap: 10px;              /* space between buttons */
  align-items: baseline;
}
.button-row button{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  flex-direction: row;
}
.cart{
  background-color: #fada07;
  color: #011F26;
}
.cart:hover{
  background-color: #a57f0b;
  color: #dbddde;
}

.btnBack{
  background-color: #81817a;
  color: #011f26;
}
.btnBack:hover{
  background-color: #333231;
  color: #ffffff;
}
.mat-icon{
  padding-top: 5px;
}
.item-card {
    height: 500px;
    width: 1000px;
    display: flex;
    margin-left: 125px;
    margin-top: 60px;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.image-section{
    padding: 50px;
    // border-right: 1px solid #ccc;

}
.details-section{
    padding: 60px;
    width: 410px;
}
.details{
    margin-top: 80px;
}
.buttons{
    margin-top: 20px;
    margin-bottom: 50px;
}