<div class="table-section">
      
      <div class="refresh-button-filter-section">
        <div class="refresh-button">
          <button mat-icon-button color="primary" (click)="refreshData()">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
      </div>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef> User Name </th>
          <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="uniqueTaskNo">
          <th mat-header-cell *matHeaderCellDef> Task Number </th>
          <td mat-cell *matCellDef="let element"> {{element.uniqueTaskNo}} </td>
        </ng-container>
      
        <ng-container matColumnDef="serviceType">
          <th mat-header-cell *matHeaderCellDef> Service Type </th>
          <td mat-cell *matCellDef="let element"> {{element.serviceType}} </td>
        </ng-container>
      
        <ng-container matColumnDef="serviceDate">
          <th mat-header-cell *matHeaderCellDef> Service Date </th>
          <td mat-cell *matCellDef="let element"> {{ formatDateFromArray(element.serviceDate) }} </td>
        </ng-container>
  
        <ng-container matColumnDef="serviceQuality">
          <th mat-header-cell *matHeaderCellDef> Service Quality </th>
          <td mat-cell *matCellDef="let element"> {{element.serviceQuality}} </td>
        </ng-container>
  
        <ng-container matColumnDef="recommendation">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.recommendation}} </td>
        </ng-container>
  
        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef> User Recommendation </th>
          <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>
  
        <ng-container matColumnDef="complaint">
          <th mat-header-cell *matHeaderCellDef> Suggetions or Complaint </th>
          <td mat-cell *matCellDef="let element"> {{element.complaint}} </td>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="warn" (click)="viewData(element)" matTooltip="View">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      
    </div>
