<div class="container">
  <div class="table-section">
    <div class="refresh-button-filter-section">
      <div class="refresh-button">
        <button mat-icon-button color="primary" (click)="refreshData()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input />
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- firstName Column -->
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef>Customer Name</th>
        <td mat-cell *matCellDef="let element">{{ element.customerName }}</td>
      </ng-container>

      <!-- lastName Column -->
      <ng-container matColumnDef="appointmentDate">
        <th mat-header-cell *matHeaderCellDef>Appointment Date</th>
        <td mat-cell *matCellDef="let element">{{ element.appointmentDate | date: 'dd/mm/yyyy' }}</td>
      </ng-container>

      <!-- age Column -->
      <ng-container matColumnDef="appointmentTime">
        <th mat-header-cell *matHeaderCellDef>Appointment Time</th>
        <td mat-cell *matCellDef="let element">{{ element.appointmentTime }}</td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="serviceType">
        <th mat-header-cell *matHeaderCellDef>Service Type</th>
        <td mat-cell *matCellDef="let element">{{ element.serviceType }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone No</th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="totalServicePrice">
        <th mat-header-cell *matHeaderCellDef>Total Cost</th>
        <td mat-cell *matCellDef="let element">{{ element.totalServicePrice }}</td>
      </ng-container>

    <ng-container matColumnDef="assignee">
        <th mat-header-cell *matHeaderCellDef>Assignee</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="status-select">
                <mat-select 
                  [value]="element.assignee" 
                  (selectionChange)="updateStatus(element.id, $event.value)"
                  [panelClass]="'status-panel'">
                  <mat-option 
                    *ngFor="let option of superVisorList" 
                    [value]="option.id">
                     {{ option.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="warn"
            (click)="updateAssignee(element)"
            matTooltip="Update Assignee"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
