<!-- <mat-card class="item-card" *ngIf="task">
    <div class="image-section">
        
    </div>
    <div class="details-section" >
    <div class="details">
        <h1><b>{{ task.taskName }}</b></h1>
        <h3>{{task.description}}</h3><br>
        <h5>{{task.shortDescription}}</h5> -->
        <!-- <h4>RS.{{task.totalTaskPrice}}</h4> -->
    <!-- </div>
        <button class="btnBook" (click)="bookAppointment()">Book Now</button>
    </div>
</mat-card>
 -->

 
<div class="task-view-card">
  <div class="task-header">
    <h2>{{ task?.taskName }}</h2>
    <p class="description">{{ task?.description }}</p>
    <h5>{{task?.shortDescription}}</h5>
  </div>

  <div class="subtasks">
    <div class="subtask" *ngFor="let sub of task?.subTasks">
      <div class="subtask-title">{{ sub?.subTaskName }}</div>
      <div class="subtask-status" [ngClass]="'completed'.toLowerCase().replace(' ', '-')">
        {{ 'RS ' + sub.subTaskPrice }}
      </div>
    </div>
    <div>
      <button class="buttons btnBook" (click)="bookAppointment()">Book Now</button>
      <button class="buttons btnBack" (click)="previous()">
      <mat-icon>arrow_back</mat-icon>
      <span>Back</span>
    </button>
  </div>
  </div>
</div>

