<div class="form-section">
      <form [formGroup]="feedbackDetailsForm" class="example-form" (ngSubmit)="reviewData(element)">
        <div mat-dialog-content class="content">
        <mat-form-field class="full-width">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="User Name" formControlName="userName" readonly>
        </mat-form-field>
      
        <mat-form-field class="full-width">
          <mat-label>Task Number</mat-label>
          <input matInput placeholder="Task Number" formControlName="uniqueTaskNo" readonly>
        </mat-form-field>
      
        <mat-form-field class="full-width">
          <mat-label>Service Type</mat-label>
          <input matInput placeholder="Service Type" formControlName="serviceType" readonly>
        </mat-form-field>
      
        <mat-form-field class="full-width">
          <mat-label>Service Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="serviceDate" readonly>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field><br><br>

        <mat-label class="recommendation-label">Was your vehicle serviced properly and on time ?</mat-label><br><br>
        <button
          mat-icon-button
          [color]="color"
          *ngFor="let ratingId of ratingArr; index as i"
          [id]="'star_' + i"
          (click)="onClick(i + 1)"
          [attr.aria-label]="'Rate ' + (i + 1) + ' stars'"
          [title]="'Rate ' + (i + 1) + ' stars'"
          [disabled]="isButtonDisable"
          >
          <mat-icon >
            {{ showIcon(i) }}
          </mat-icon>
        </button><br>
        <p class="body-2">
          Your rated <span class="body-2">{{ rating }}</span> /
          <span class="body-2">{{ starCount }}</span> _   
          <span *ngIf="rating > 0" class="rating-label">
            {{ ratingLabels[rating] }}
          </span>
        </p>
        <br>
      
        <mat-radio-group aria-label="Select an option" formControlName="recommendation">
          <mat-label class="recommendation-label">Would You Recommended Us?</mat-label>
          <mat-radio-button [disabled]="isButtonDisable" value="Yes">Yes</mat-radio-button>
          <mat-radio-button [disabled]="isButtonDisable" value="No">No</mat-radio-button>
        </mat-radio-group><br><br>
      
        <mat-form-field class="full-width">
          <mat-label>Suggesions/ Complaint</mat-label>
          <textarea matInput placeholder="Suggesions/ Complaint" formControlName="complaint" readonly></textarea>
        </mat-form-field>

        <div>
          <mat-label class="recommendation-label">Contact:</mat-label><br><br>
          <mat-label class="recommendation-label">Email: namalvehicleservice&#64;gmail.com</mat-label><br><br>
          <mat-label class="recommendation-label">Phone Number: 0777 256 256</mat-label>
        </div><br><br>

        <button class="btnConfirmReview" type="submit" mat-raised-button color="primary" (click)="confirmReview(element)">Confirm Review</button>
        </div>
      </form>
    </div>
