<div class="container">
    <div class="form-section">
      <form
        [formGroup]="taskIntroduceForm"
        class="example-form"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field class="example-full-width">
            <mat-label>Task Name</mat-label>
            <input matInput formControlName="taskName" />
        </mat-form-field>
  
        <div formArrayName="subTasks">
          <div class="subtask-row" *ngFor="let subTask of subTasks.controls; let i = index"  [formGroupName]="i"><!--*ngFor="let subTask of subTasks.controls; let i = index"  [formGroupName]="i"-->
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Sub Task"
                formControlName="subTaskName"
                placeholder="Sub Task Description"
              />
            </mat-form-field>

            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="price"
                formControlName="subTaskPrice"
                placeholder="Rs."
              />
            </mat-form-field>
           
            <button
              type="button"
              class="btn btn-danger remove-button"
              (click)="removeSubTask(i)"
            ><!--[disabled]="subTask.disabled"
            (click)="removeSubTask(i)"-->
              -
            </button>
          </div>  

            <button
                type="button"
                class="btn btn-primary mt-2 mb-4"
                (click)="addSubTask()"
            >
                +
            </button>    
        </div>

        <mat-form-field class="full-width">
          <mat-label>Total Task Price</mat-label>
          <input
            matInput
            placeholder="Total Task Price"
            formControlName="totalTaskPrice"
            placeholder="Rs. "
            />     
        </mat-form-field>

        <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Short Description</mat-label>
        <textarea
          matInput
          placeholder="Short Description"
          formControlName="shortDescription"
        ></textarea>
      </mat-form-field>
        
        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="form-button"
          [disabled]="isButtonDisable"
        >
          {{ saveButtonLabel }}
        </button>
        <!--[disabled]="isButtonDisable" -->
        <button
          type="button"
          mat-raised-button
          color="secondary"
          (click)="resetData()"
        >
          Reset
        </button>
  
      </form>
    </div>
    <div class="table-section">
        <div class="refresh-button-filter-section">
          <div class="refresh-button">
            <button mat-icon-button color="primary" (click)="refreshData()">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="" #input />
          </mat-form-field>
        </div>
    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"><!--[dataSource]="dataSource"-->
          <ng-container matColumnDef="taskName">
            <th mat-header-cell *matHeaderCellDef>Task Name</th>
            <td mat-cell *matCellDef="let element">{{ element.taskName }}</td>
          </ng-container>

          <!-- <ng-container matColumnDef="subTasks">
            <th mat-header-cell *matHeaderCellDef>Sub Tasks</th>
            <td mat-cell *matCellDef="let element">{{ element.subTasks }}</td>
          </ng-container> -->
    
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row"> 
              <button mat-icon-button color="warn" (click)="editData(row)" matTooltip="Edit">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteData(row)" matTooltip="Delete">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </div>
</div>
  