.container{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.form-section{
    flex: 2;
    width: 100%;
    padding: 50px;
    border-right: 1px solid #ccc;
}
.table-section{
    flex: 2;
}
.full-width {
    width: 100%;
    margin-right: 5px;
} 
.form-button{
    margin-right: 20px;
}
.attendance{
    width: 50%;
    margin-top: 12px;
}

tr:hover {background-color: rgb(153, 211, 250);}

td {
  text-align: center;
}
th {
  text-align: center;
}
.btnSave {
   width: 300px;
   margin-right: 610px;
}
.btnSave:hover {background-color: rgb(0, 85, 196);}

.btnEdit{
   width: 300px; 
}
.btnEdit:hover {background-color: rgb(0, 145, 164);}