/* task.component.css */
.container {
    padding: 20px;
}

.subtask-row {
    display: flex;
    margin-bottom: 10px;
}

.subtask-input {
    flex: 1;
    margin-right: 10px;
}

.table {
    width: 100%;
}

.remove-button {
    margin-left: 1%;
    margin-top: 2%;
    height: 5%;
}
