<div class="tasks-card">
    <mat-card >
        <div class="p-20 bg-info position-relative">
            <mat-card-title>Normal Car Wash</mat-card-title>
        </div>
        <mat-card-content>
          <ul>
            <li>Assign Washing Bay</li>
            <li>Wash the Vehicle</li>
            <li>Complete the Washing</li>
          </ul>
        </mat-card-content>
    </mat-card>
    
    <mat-card>
        <div class="p-20 bg-info position-relative">
            <mat-card-title>Pick-up/Drop-off Car wash</mat-card-title>
        </div>
        <mat-card-content>
          <ul>
            <li>Pick-up Vehicle to the Service Center</li>
            <li>Assign Washing Bay</li>
            <li>Wash the Vehicle</li>
            <li>Complete the Washing Process</li>
            <li>Drop-off the Vehicle</li>
          </ul>
        </mat-card-content>
    </mat-card>

    <mat-card >
        <div class="p-20 bg-info position-relative">
            <mat-card-title>Remote Car Wash</mat-card-title>
        </div>
        <mat-card-content>
          <ul>
            <li>Assign Washing Bay</li>
            <li>Wash the Vehicle</li>
            <li>Complete the Washing</li>
          </ul>
        </mat-card-content>
    </mat-card>

    <mat-card >
        <div class="p-20 bg-info position-relative">
            <mat-card-title>Remote Maintain Service</mat-card-title>
        </div>
        <mat-card-content>
          <ul>
            <li>Assign Washing Bay</li>
            <li>Wash the Vehicle</li>
            <li>Complete the Washing</li>
          </ul>
        </mat-card-content>
    </mat-card>
</div>

<!-- <mat-card>
    <div class="p-20 bg-info position-relative">
        <h4 class="card-title text-white m-0">Normal Car Wash</h4>
    </div>
    <div class="message-box contact-box p-20">
        <div class="message-widget contact-widget">
            <dl>
                <dt>Assign Washing Bay</dt>
                <dt>Wash the Vehicle</dt>
                <dt>Complete the Washing </dt>
            </dl>
        </div>
    </div>
</mat-card>

<mat-card>
    <div class="p-20 bg-info position-relative">
        <h4 class="card-title text-white m-0">Pick-up/Drop-off Car wash</h4>
    </div>
    <div class="message-box contact-box p-20">
        <div class="message-widget contact-widget">
            <dl>
                <dt>Pick-up Vehicle to the Service Center</dt>
                <dt>Assign Washing Bay</dt>
                <dt>Wash the Vehicle</dt>
                <dt>Complete the Washing Process</dt>
                <dt>Drop-off the Vehicle</dt>
            </dl>
        </div>
    </div>
</mat-card>

<mat-card>
    <div class="p-20 bg-info position-relative">
        <h4 class="card-title text-white m-0">Remote Car Wash</h4>
    </div>
    <div class="message-box contact-box p-20">
        <div class="message-widget contact-widget">
            <dl>
                <dt>Assign Washing Bay</dt>
                <dt>Wash the Vehicle</dt>
                <dt>Complete the Washing </dt>
            </dl>
        </div>
    </div>
</mat-card>

<mat-card>
    <div class="p-20 bg-info position-relative">
        <h4 class="card-title text-white m-0">Remote Maintain Service</h4>
    </div>
    <div class="message-box contact-box p-20">
        <div class="message-widget contact-widget">
            <dl>
                <dt>Assign Washing Bay</dt>
                <dt>Wash the Vehicle</dt>
                <dt>Complete the Washing </dt>
            </dl>
        </div>
    </div>
</mat-card>-->

<!-- <div *ngFor="let task of tasks">
    <mat-card>
        <mat-card-title>{{ task.taskName }}</mat-card-title>
        <mat-card-content >
            <dl>
                <dt></dt>
            </dl>
        </mat-card-content>
    </mat-card>
</div> --> 