.tasks-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 0.7rem;
    padding: 1rem 0;
  }
  
  .tasks-card {
    width: 310px; /* or whatever width fits */
    flex: 0 0 auto;
    padding: 0.5rem ;
  }

  .task-header {
    font-size: 1.1rem;
    color:white;
  }