<div class="container">
  <div class="form-section">
    <form [formGroup]="itemForm" class="example-form" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Item Code</mat-label>
        <input matInput placeholder="Item Code" formControlName="itemCode" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Item Name</mat-label>
        <input matInput placeholder="Item Name" formControlName="itemName" />
        <span
          class="text-danger"
          *ngIf="
            (itemForm.get('itemName')?.touched || submitted) &&
            itemForm.get('itemName')?.errors &&
            (itemForm.get('itemName')?.errors)!['required']
          "
        >
          Item Name is Required....!
        </span>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Brand Name</mat-label>
        <input matInput placeholder="Brand Name" formControlName="brandName" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Category</mat-label>
        <mat-select formControlName="itemCategory">
          <mat-option value=" Cleaning Supplies"> Cleaning Supplies</mat-option>
          <mat-option value="Spare Parts">Spare Parts</mat-option>
          <mat-option value="Maintaince Tools">Maintaince Tools</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Supplier Name</mat-label>
        <input
          matInput
          placeholder="Supplier Name"
          formControlName="supplierName"
        />
        <span
          class="text-danger"
          *ngIf="
            (itemForm.get('supplierName')?.touched || submitted) &&
            itemForm.get('supplierName')?.errors &&
            (itemForm.get('supplierName')?.errors)!['required']
          "
        >
          Supplier Name is Required....!
        </span>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <div>
        <label for="input-file" id="drop-area">
          <input
            type="file"
            (change)="onFileSelected($event)"
            id="input-file"
            accept="image/*"
            hidden
          />
          <div id="image-view">
            <img [src]="imageData" />
            <br />
            <p>Drag and Drop or Click here<br />to Upload Image</p>
            <!-- <img *ngIf="imagePreview" [src]="imagePreview" alt="Selected Image"> -->
          </div>
        </label>
      </div>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="form-button"
        [disabled]="isButtonDisable"
      >
        {{ saveButtonLabel }}
      </button>
      <button
        type="reset"
        mat-raised-button
        color="secondary"
        (click)="resetData()"
      >
        Reset
      </button>
    </form>
  </div>
  <div class="table-section">
    <div class="refresh-button-filter-section">
      <div class="refresh-button">
        <button mat-icon-button color="primary" (click)="refreshData()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="" #input />
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="itemCode">
        <th mat-header-cell *matHeaderCellDef>Item Code</th>
        <td mat-cell *matCellDef="let element">{{ element.itemCode }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="itemName">
        <th mat-header-cell *matHeaderCellDef>Item Name</th>
        <td mat-cell *matCellDef="let element">{{ element.itemName }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="brandName">
        <th mat-header-cell *matHeaderCellDef>Brand Name</th>
        <td mat-cell *matCellDef="let element">{{ element.brandName }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="itemCategory">
        <th mat-header-cell *matHeaderCellDef>Item Category</th>
        <td mat-cell *matCellDef="let element">{{ element.itemCategory }}</td>
      </ng-container>

      <ng-container matColumnDef="supplierName">
        <th mat-header-cell *matHeaderCellDef>Supplier Name</th>
        <td mat-cell *matCellDef="let element">{{ element.supplierName }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="warn"
            (click)="editData(element)"
            matTooltip="Edit"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteData(element)"
            matTooltip="Delete"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
