.vehicle-type{
  display: flex;
  gap: 1rem; // spacing between the two fields
  align-items: center;

  .full-width {
    flex: 1; // make both fields take equal width
  }

}

.service-type{
  display: flex;
  gap: 1rem; // spacing between the two fields
  align-items: center;

  .full-width {
    flex: 1; // make both fields take equal width
  }
}
.total-service-price{
  width:400px;
}


.status-full {
  color: red;
  font-weight: bold;
}
.status-filling {
  color: orange;
  font-weight: bold;
}
.status-available {
  color: green;
  font-weight: bold;
}
.appointment-table td{
  text-align: center;
}
.appointment-table th{
  text-align: center;
  font-weight: bold;
  font-size: medium;
}
.title{
  font-weight: bold;
  font-size:25px;
}
.datepicker{
  width:400px;
}
input{
  size: 50px;
}
.selected-button {
  background: #1976d2;
  color: #fff;
}
.confirm-box { margin-top: 12px; }

